/************************************************************
 GENERAL STYLINGS
*************************************************************/
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #FFF;
  background-color: #333;
  width: 100%;
  overflow-y: scroll;
  margin-left: 20;
  align-items: center;
}
  
.container {
  display: flex;
  margin: auto;
  width: fit-content;
}
  
.vramgrid {
  width: 600px;
}
  
.spacing {
  width: 30px;
}

.playfieldgrid {
  text-align: center;
}

.tooltip-container {
  display: flex;
  align-items: center;
  margin: auto;
  width: fit-content;
}

#config-container {
  display: flex;
  align-items: center;
  margin: auto;
  width: fit-content;
  flex-direction: column;
}

#minolist, #importCsv{
  width:870px; 
  height:60px; 
}

/************************************************************
 VRAM GRID
*************************************************************/
.vramgrid {
    display: grid;    
    grid-template-columns: repeat(16, 32px);
    grid-template-rows: repeat(16, 32px);
    gap: 0px;
    width: fit-content;
    height: fit-content;
    border: 30px solid rgb(158, 210, 144);
    border-radius: 50px;
    cursor: pointer;
}

.cell, .playfieldcell {
    width: 32px;
    height: 32px;
    border: 2px solid #999;
    background-size: cover;
    box-sizing: border-box;
}

/* the minos that are normally used */
.standard {
    border: 2px solid rgb(117, 150, 252);
}

/* the selected mino */
.selected {
    border: 2px solid rgb(255, 245, 47);
}

/* hovering a mino */
.cell:hover {
    border: 2px solid rgb(0, 255, 17);
}

/************************************************************
 TOOLTIP 
*************************************************************/
.tooltip {
    position: relative;
    display: inline-block;
}

#tooltip-image{
    width: 2em; 
    height: 2em;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 600px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: left;
    border-radius: 6px;
    padding: 20px;
    font-size: medium;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -500px;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/************************************************************
 TOAST ANIMATION
*************************************************************/
.toast {
  visibility: hidden;
  min-width: 250px;
  background-color: #FFF;
  color: #000;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translate(-50%, 0);
}

.toast.red {
  background-color: lightpink;
}

.toast.green {
  background-color: lightgreen;
}

.toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
  
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}
  
@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}
  
@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}
  
@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

/************************************************************
 PLAYFIELD
*************************************************************/
  li img{
    width: 100%;
    height: 100%;
  }

  #selectable .mino{
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-image: url('images/green/2F.png');
  }
  
  #selectable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 320px;
    height: 576px;
    border: 3px solid rgb(255, 255, 255);
  }
  
  #selectable li {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
  }
  
  li.stack:hover{
    border: 3px solid rgb(0, 255, 17);
  }
 
  li.mino:hover{
    border: 3px solid red;
  }

  li.stack{
    cursor: pointer;
  }

  #selectable .mino:hover img{
    opacity: 10%;
    background-color: rgb(0, 0, 0);
  }

  #selectable li.mino.ui-selecting:hover{
    opacity: 10%;
    background-color: rgb(0, 0, 0);
  } 

  .ui-selecting img{
    opacity: 10%;
    background-color: white;
  }

  .ui-selecting .mino img{
    /*opacity: 10%;
    background-color: rgb(0, 0, 0);*/
  }

  /* the part of the playfield that can't be edited */
.noStack, .noStack:hover{
    background-color: #999;
    border: 0px;
}

.stack{
    background-color: #FFF;
}

.stack.clear::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: lightsalmon;
    opacity: 0.5; /* adjust the value to control the opacity */
  }

  /************************************************************
 INPUT STYLINGS: BUTON, CHECKBOX AND RADIO BUTTON
*************************************************************/
  input:where([type="checkbox"], [type="radio"]){
    -webkit-appearance: none;
    appearance: none;
    width: 22px;
    height: 22px;
    margin: calc(0.75em - 11px) 0.25rem 0 0;
    vertical-align: top;
    border: 2px solid #ddd;
    border-radius: 4px;
    background: #fff no-repeat center center;
  }

  input[type="radio"]{
    border-radius : 50%;
  }
  
  input:where([type="checkbox"], [type="radio"]):where(:active:not(:disabled), :focus){
    border-color : #696;
    outline      : none;
  }
  
  input:where([type="checkbox"], [type="radio"]):disabled{
    background : #eee;
  }
  
  input[type="checkbox"]:checked{
    background-image : url('images/checkbox.svg');
  }
  
  input[type="radio"]:checked{
    background-image : url('images/radio.svg');
  }

  .button {
    background-color: lightgrey;
    border: 2px solid lightgray;
    color: black;
    padding: 10px 20px 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }

  .button:hover {
    background-color: grey;
    border: 2px solid white;
  }

.dropdown {
  appearance: none;
  background-color: #fff;
  color: #333;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-image: url("images/arrow_down.png");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: auto 50%;
}
  
  .dropdown::-ms-expand {
    display: none;
  }
  
  .dropdown option {
    color: #333;
    background-color: #fff;
  }