body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFF;
}

.container {
    display: flex;
    margin: auto;
    width: fit-content;
}

.vramgrid {
    width: 600px;
}
.spacing {
    width: 30px;
}
.playfieldgrid {
    width: 400px;
}

/************************************************************
 VPLAYFIELD
*************************************************************/

 .playfieldgrid {
    display: grid;
    grid-template-columns: repeat(10, 32px);
    grid-template-rows: repeat(18, 32px);
    gap: 0px;
    width: fit-content;
    height: fit-content;
    border: 3px solid #FFF;
}

.playfieldgrid .stack:hover {
    border: solid red;
}

/************************************************************
 VRAM GRID
*************************************************************/
.vramgrid {
    display: grid;    
    grid-template-columns: repeat(16, 32px);
    grid-template-rows: repeat(16, 32px);
    gap: 0px;
    width: fit-content;
    height: fit-content;
    border: 3px solid #FFF;
}

.cell, .playfieldcell {
    width: 32px;
    height: 32px;
    border: 2px solid #999;
    background-size: cover;
    box-sizing: border-box;
}

.playfieldcell {
    border: 0px dotted #999;
    background-color: #ddd;
}

/* the minos that are normally used */
.standard {
    border: 2px solid rgb(117, 150, 252);
}

/* not sure if that is needed */
div img{
    pointer-events: none;
}

/* the selected mino */
.selected {
    border: 2px solid rgb(255, 245, 47);
}

/* hovering a mino */
.cell:hover {
    border: 2px solid red;
}

/* the part of the playfield that can't be edited */
.noStack{
    background-color: #555;
}

/************************************************************
 TOOLTIP 
*************************************************************/
.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 600px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: left;
    border-radius: 6px;
    padding: 20px;
    font-size: medium;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -300px;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/************************************************************
 TOAST, it seems to have a hick-up at the end of the animation
*************************************************************/
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #FFF;
    color: #000;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }